.card-title{
    h3{font-size: 1.1rem;margin-bottom: .1rem}
    min-height: 45px;

}
.card-subtitle{
    font-size: .85rem;
}
.card .card-body{
    max-height: 300px;
    min-height: 275px;
    .col-10{
        padding-left: 0px
    }
    i.fa-2x{font-size: 1rem;}
}
.card p{
    font-size: .80rem;
   padding-bottom: 0px;
   

    
}
a,a:hover{color:#333;}
.card{
    min-height: 430px;
    .card-body{
        padding: 1rem;
    }
}
.card-footer{
    background-color:#fff;
    border-top: none;
      margin: 0 auto;
}
.btnModal{
    background: transparent;
    color: #000;
    border-color: transparent;
    font-size: .8rem;
    padding: 0px;
    text-align: left;
    border: none;
}
.btnModal:hover, .btnModal:active, .btnModal:focus{
    background: transparent !important;
    color: #000 !important;
    border-color: transparent !important;
    border: none;
}
